<div id="orderDetail">

    <div class="trueName" id="openCont" th:fragment="orderDetailList" xmlns:th="http://www.thymeleaf.org">
        <table class="table table-bordered table-striped with-check">
            <thead>
            <tr><td colspan="7">采购资源清单</td></tr>
            <tr>
                <!--<th><i class="icon-resize-vertical"></i></th>-->
                <th width="15%">资源类型</th>
                <th width="15%">资源名称</th>
                <th width="10%">计费方式</th>
                <th width="15%">使用期限起</th>
                <th width="15%">使用期限止</th>
                <th width="10%">使用次数</th>
                <th width="15%">金额</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>API</td>
                <td>企业图谱详情查询</td>
                <td>1元/次</td>
                <td>201601</td>
                <td>201612</td>
                <td>100</td>
                <td>100</td>

            </tr>
            </tbody>
        </table>
    </div>

</div>