
<div id="showOrderList">
    <div class="span12" >
        <div class="widget-box">
            <div class="widget-content nopadding" th:fragment="dataList" xmlns:th="http://www.thymeleaf.org">
                <table class="table table-bordered with-check" id="dataTable">
                    <thead>
                    <tr>
                        <!--<th><i class="icon-resize-vertical"></i></th>-->
                        <th width="5%">序号</th>
                        <th width="10%">订单号</th>
                        <th width="10%">使用方</th>
                        <th width="10%">合同编号</th>
                        <th width="10%">订单金额</th>
                        <th width="10%">已付款金额</th>
                        <th width="10%">下单日期</th>
                        <th width="10%">订单类型</th>
                        <th width="10%">状态</th>
                        <th width="10%">操作</th>
                    </tr>
                    </thead>
                    <tbody id="dataList" th:unless="${#lists.isEmpty(dataInfoMaintains)}">

                    <tr th:each="dataInfo,dataInfoStat: ${dataInfoMaintains}">
                        <td th:text="${dataInfoStat.index+1}" th:name="detail"></td>
                        <td ><a th:class="orderNum" th:text="${dataInfo.orderNum}"  th:name="${dataInfo.id}" onclick="showDetail(this)"></a></td>
                        <td th:text="${dataInfo.orderUserName}"></td>
                        <td th:text="--">--</td>
                        <td th:text="${dataInfo.orderCashTotal}"></td>
                        <td th:text="${dataInfo.havePay != null} ? ${dataInfo.havePay} : '0'"></td>
                        <td th:text="${#calendars.format(dataInfo.createdTime,'yyyy-MM-dd')}" >2016.7.12</td>
                        <td th:switch="${dataInfo.orderType}">
                            <span th:case="'online'">线上订单</span>
                            <span th:case="'outline'">线下订单</span>
                        </td>
                        <td th:switch="${dataInfo.orderStatus}">
                            <span th:case="'1'">未付款</span>
                            <span th:case="'2'">部分付款</span>
                            <span th:case="'3'">已付款</span>
                        </td>
                        <td th:switch="${dataInfo.orderStatus}">
                            <span th:case="'1'"><a href='javascript:;'class='pay-sign' onclick="payLog(this)">付款登记</a></span>
                            <span th:case="'2'"><a href='javascript:;'class='pay-sign' onclick="payLog(this)">付款登记</a></span>
                            <span th:case="'3'">已付款</span>

                        </td>

                    </tr>
                    </tbody>
                    <tbody th:if="${#lists.isEmpty(dataInfoMaintains)}">
                    <tr>
                        <td colspan="28">没有符合查询条件的记录</td>
                    </tr>
                    </tbody>
                </table>
                <input id="pageAllCount" type="hidden" th:value="${page.totalSize}" />
            </div>
        </div>
<!--        <div th:if="${#lists.isEmpty(dataInfoMaintains)}">
            <p>暂无数据</p>
        </div>-->
    </div>
</div>
