<head th:fragment="commcss">
    <link rel="stylesheet" href="../static/lib/css/bootstrap.min.css" th:href="@{/lib/css/bootstrap.min.css}"/>
	<link rel="stylesheet" href="../static/lib/css/common.css" th:href="@{/lib/css/common.css}">
</head>
<head th:fragment="datapickercss">
    <!--日历样式-->
    <link rel="stylesheet" href="../static/lib/css/datapicker/font-awesome.min.css" th:href="@{/lib/css/datapicker/font-awesome.min.css}"/>
    <link rel="stylesheet" href="../static/lib/css/datapicker/daterangepicker-bs3.css" th:href="@{/lib/css/datapicker/daterangepicker-bs3.css}"/>
</head>